
.bi
{
	height: 30px;
	width: 30px;
	margin-left: 10px;
}
p{
	height: 72px;
width: 543px;

border-radius: 0;

font-family: Avenir Next;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
margin-right: auto;
margin-left: auto;


}

.p-2 {
	text-decoration: none;
	height: 32px;
width: 164px;
left: 779px;
top: 36px;
border-radius: 0;
font-family: Avenir Next;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;


font-family: Avenir Next;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-align: center;
color: black;

}
.hb
{
	
text-align: center;
width :144px;
padding-bottom: 2px;
padding-top: 2px;
font-family: Avenir Next;
color: #000000;
}
.btn-group-lg>.btn, .btn-lg
{
  padding-bottom: 2rem;
}

.card-body
{
	padding-top: 0;
}
h1
{
	font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 120%;
padding-left: 15px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;

}
label
{

font-family: Avenir Next;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.205em;
text-align: left;

font-weight: bold;

/* identical to box height */

letter-spacing: 0.205em;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 66px 0px;
}
.bb
{
	height: 34px;
width: 286px;

border-radius: 0;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.205em;
text-align: left;
font-weight: bold;
margin-top: 80px;
margin-bottom: 120px;
}
.sb
{
height: 34px;
width: 286px;

border-radius: 0;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.205em;
text-align: center;
font-weight: bold;
margin-top: 80px;
margin-bottom: 120px;	
}
input
{
	height: 45px;
width: 417px;

border-radius: 2px;

}
.btm
{
	height: 138px;
width: 1440px;
padding: 0;

border-radius: 0px;

}
